
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Post-16 options         
      </h1>
      <p>
        You must stay in some type of education or training until you are 18. There are many options available when you turn 16, look at what option best suits you and your situation, strengths and interests.
      </p>
      <p>
      You can leave school on the last Friday in June if you'll be 16 by the end of the summer holidays.
      </p>
      <p>
      You must then do one of the following until you're 18:
      <ul class="govuk-list govuk-list--bullet">
        <li>
          stay in full-time education, for example at school, sixth form college of further education college
        </li>
        <li>
          start an apprenticeship or traineeship
        </li>
        <li>
          spend 20 hours or more a week working or volunteering while also doing part-time education or training
        </li>
      </ul>
      </p>
      <p>
        Your local authority has a duty to make sure you are offered a suitable place by the end of September. This is known as the September Guarantee. Contact your local Authority for information on who can help you find a suitable offer.

      </p>

    
    </div>
    <div class="govuk-grid-column-one-third">
         <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Speak to an adviser
          </h2>
          <ul class="govuk-list">
            <li>
             <strong> Call </strong> 0800 100 900 or <a href="#"> use webchat </a>
            </li>
            <li>
              8am - 8pm Monday - Friday
            </li>
            <li>
              10am - 5pm Saturday 
            </li>
          </ul>
            
        </aside>
         <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Other opportunities
          </h2>
          <ul class="govuk-list">
            <li>
              You could look at what <a href="">work and study options</a> will be available to you at 18
            </li>
            <li>
              You could also consider <a href="">volunteering</a> to strenthen your job and study opportunities
            </li>
          </ul>                  
        </aside>
    </div> 
  </div>

  <div id="choices" class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
     <h2 class="govuk-heading-l govuk-!-padding-top-9"> Options </h2> 
    </div>
      <a class="govuk-body-s" style="float:right; margin-top: 100px" id="showWithoutImages" href="#" onclick="ShowWithoutImages();return false;"> See these without images </a> 
  </div>
<div id="cardGroupWithImages" class="card-group">
  <div class="govuk-grid-row">
        
{# A-LEVELS CARD #}
  <div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1518717758536-85ae29035b6d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="a-levels stock image">
      <h3 class="govuk-heading-s"><a href="#alevels">A-Levels</a></h3>
      <div class="text">
       <p>Advanced level qualifications (known as A levels) are subject-based qualifications that can lead to university, further study, training, or work.</p>
      </div>
    </div>
  </div>

{# APPRENTICESHIP CARD #}

  <div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1548199973-03cce0bbc87b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt="">
      <h3 class="govuk-heading-s"><a href="#apprenticeships">Apprenticeships</a></h3>
      <div class="text">
        <p>Apprenticeships are for those aged 16 or over and combine working with studying to gain skills and knowledge in a specific job.<br><br></p> 
      </div>
    </div>
  </div>

{# SUPPORTED INTERNSHIP CARD  #}

  <div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1558929996-da64ba858215?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
      <h3 class="govuk-heading-s"><a href="#supportedinternship">Supported internship</a></h3>
      <div class="text">
        <p>Supported internships allow young people aged 16 to 24 with an Education, Health and Care plan (EHC), who need extra support to move into employment.</p> 
      </div>
    </div>
  </div>
  </div>
    
{# T-LEVELS CARD  #}
  <div class="govuk-grid-row">

<div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1536809188428-e8ecf663d0be?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
      <h3 class="govuk-heading-s"><a href="#tlevels">T-Levels</a></h3>
      <div class="text">
        <p>T Levels are a new qualification for students aged 16 to 19 who’ve finished GCSEs. They are a 2-year qualification and the equivalent to 3 A levels.</p> 
      </div>
    </div>
  </div>



        
{# TRAINEESHIP CARD  #}


<div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1541599540903-216a46ca1dc0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
      <h3 class="govuk-heading-s"><a href="#traineeship">Traineeship</a></h3>
      <div class="text">
        <p>A traineeship is a skills development programme that includes a work placement that can last from 6 weeks up to 1 year.
</p> 
      </div>
    </div>
  </div>

    
{# Vocational Technical Qualifications (VTQs) CARD  #}

<div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1551717743-49959800b1f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt="">
      <h3 class="govuk-heading-s"><a href="#vtq">Vocational Technical Qualifications (VTQs)</a></h3>
      <div class="text">
        <p>Vocational qualifications are work-related qualifications available in a wide range of career areas.</p> 
      </div>
    </div>
  </div>

</div>

</div>

{#  NO IMAGE CARDS  #}


<div id="cardGroupNoImages" class="govuk-grid-row card-group-no-images">

{# A-LEVELS CARD #}
  <div class="govuk-grid-column-one-third">
    <div class="card">
      <h3 style="padding-top: 10px;" class="govuk-heading-s"><a href="#alevels">A-Levels</a></h3>
      <div class="text">
       <p>Advanced level qualifications (known as A levels) are subject-based qualifications that can lead to university, further study, training, or work.</p>
      </div>
    </div>
  </div>

{# APPRENTICESHIP CARD #}

  <div class="govuk-grid-column-one-third">
    <div class="card">
      <h3 style="padding-top: 10px;" class="govuk-heading-s"><a href="#apprenticeships">Apprenticeships</a></h3>
      <div class="text">
        <p>Apprenticeships are for those aged 16 or over and combine working with studying to gain skills and knowledge in a specific job<br><br></p> 
      </div>
    </div>
  </div>

{# SUPPORTED INTERNSHIP CARD  #}

  <div class="govuk-grid-column-one-third">
    <div class="card">
      <h3 style="padding-top: 10px;" class="govuk-heading-s"><a href="#supportedinternship">Supported internship</a></h3>
      <div class="text">
        <p>Supported internships allow young people aged 16 to 24 with an Education, Health and Care plan (EHC), who need extra support to move into employment.
</p> 
      </div>
    </div>
  </div>
    
{# T-LEVELS CARD  #}

<div class="govuk-grid-column-one-third">
    <div class="card">
      <h3 style="padding-top: 10px;" class="govuk-heading-s"><a href="#tlevels">T-Levels</a></h3>
      <div class="text">
        <p>T Levels are a new qualification for students aged 16 to 19 who’ve finished GCSEs. They are a 2-year qualification and the equivalent to 3 A levels.</p> 
      </div>
    </div>
  </div>



        
{# TRAINEESHIP CARD  #}


<div class="govuk-grid-column-one-third">
    <div class="card">
      <h3 style="padding-top: 10px;" class="govuk-heading-s"><a href="#traineeship">Traineeship</a></h3>
      <div class="text">
        <p>A traineeship is a skills development programme that includes a work placement that can last from 6 weeks up to 1 year.<br></p> 
      </div>
    </div>
  </div>

    
{# Vocational Technical Qualifications (VTQs) CARD  #}

<div class="govuk-grid-column-one-third">
    <div class="card">
      <h3 style="padding-top: 10px;" class="govuk-heading-s"><a href="#vtq">Vocational Technical Qualifications (VTQs)</a></h3>
      <div class="text">
        <p>Vocational qualifications are work-related qualifications available in a wide range of career areas.<br><br></p> 
      </div>
    </div>
  </div>
</div>

</div>

{# END OF CHOICES CARDS #}

<div class="govuk-grid-row choice-header govuk-!-margin-top-9 govuk-!-margin-bottom-9 govuk-!-padding-top-9 govuk-!-padding-bottom-6"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="alevels" class="govuk-heading-l choice-title">
        A-Levels
      </h2>
    <p class="choice-body"> Advanced level qualifications (known as A levels) are subject-based qualifications that can lead to university, further study, training, or work. You can normally study three or more A levels over two years. They’re usually assessed by a series of examinations.  </p>

    </div>
    <div class="govuk-grid-column-one-third">
      <a class="govuk-body choice-link govuk-padding-top-9"  href="#choices"> <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to choices </a>
    </div>
  </div>
</div>
  
  <div class="govuk-width-container">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     <h3 class="govuk-heading-m tile-title"> Eligibility </h3>
    </div>
    <div class="govuk-grid-column-one-third">
      <svg width="49" height="43" viewBox="0 0 49 43" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="49" height="43" fill="white"/>
        <path d="M40.4417 23.9583L43.125 26.6608L30.6092 39.2917L23.9583 32.5833L26.6417 29.8808L30.6092 33.8675L40.4417 23.9583ZM19.1667 32.5833L24.9167 38.3333H5.75V34.5C5.75 30.2642 12.6117 26.8333 21.0833 26.8333L24.7058 27.0442L19.1667 32.5833ZM21.0833 7.66666C23.1167 7.66666 25.0667 8.47439 26.5045 9.91217C27.9423 11.3499 28.75 13.3 28.75 15.3333C28.75 17.3666 27.9423 19.3167 26.5045 20.7545C25.0667 22.1923 23.1167 23 21.0833 23C19.05 23 17.1 22.1923 15.6622 20.7545C14.2244 19.3167 13.4167 17.3666 13.4167 15.3333C13.4167 13.3 14.2244 11.3499 15.6622 9.91217C17.1 8.47439 19.05 7.66666 21.0833 7.66666Z" fill="black"/>
      </svg>
    </div>
  </div>
    <p>
    Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor.
    </p>
  </div>

  <div class="govuk-grid-column-one-third">
      <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m tile-title"> Funding </h3>
        </div>
    <div class="govuk-grid-column-one-third">
     <svg width="49" height="43" viewBox="0 0 49 43" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="49" height="43" fill="white"/>
      <path d="M48 38H32V8H48V38ZM36.3636 23C36.3636 21.8299 36.7468 20.7078 37.4287 19.8804C38.1107 19.053 39.0356 18.5882 40 18.5882C40.9644 18.5882 41.8893 19.053 42.5713 19.8804C43.2532 20.7078 43.6364 21.8299 43.6364 23C43.6364 24.1701 43.2532 25.2922 42.5713 26.1196C41.8893 26.947 40.9644 27.4118 40 27.4118C39.0356 27.4118 38.1107 26.947 37.4287 26.1196C36.7468 25.2922 36.3636 24.1701 36.3636 23ZM45.0909 15.0588C44.3194 15.0588 43.5794 14.687 43.0339 14.0251C42.4883 13.3632 42.1818 12.4655 42.1818 11.5294H37.8182C37.8182 13.4882 36.5236 15.0588 34.9091 15.0588V30.9412C35.6806 30.9412 36.4206 31.313 36.9661 31.9749C37.5117 32.6368 37.8182 33.5345 37.8182 34.4706H42.1818C42.1818 32.5294 43.4909 30.9412 45.0909 30.9412V15.0588Z" fill="black"/>
      <path d="M27.7058 32.5V38.3333H5.75V34.5C5.75 30.2642 12.6117 26.8333 21.0833 26.8333C23.6696 26.9157 25.5 27 27.7058 28.0442V32.5ZM21.0833 7.66666C23.1167 7.66666 25.0667 8.47439 26.5045 9.91217C27.9423 11.3499 28.75 13.3 28.75 15.3333C28.75 17.3666 27.9423 19.3167 26.5045 20.7545C25.0667 22.1923 23.1167 23 21.0833 23C19.05 23 17.1 22.1923 15.6622 20.7545C14.2244 19.3167 13.4167 17.3666 13.4167 15.3333C13.4167 13.3 14.2244 11.3499 15.6622 9.91217C17.1 8.47439 19.05 7.66666 21.0833 7.66666Z" fill="black"/>
     </svg>
    </div>
    </div>
     <p>
     Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor.
    </p>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m tile-title"> Timings </h3>
    </div>
    <div class="govuk-grid-column-one-third">
     <svg width="49" height="43" viewBox="0 0 49 43" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="49" height="43" fill="white"/>
      <path d="M21.5 4C11.8505 4 4 11.8505 4 21.5C4 31.1495 11.8505 39 21.5 39C31.1495 39 39 31.1495 39 21.5C39 11.8505 31.1495 4 21.5 4ZM21.5 35.5C13.7807 35.5 7.5 29.2192 7.5 21.5C7.5 13.7808 13.7807 7.5 21.5 7.5C29.2192 7.5 35.5 13.7808 35.5 21.5C35.5 29.2192 29.2192 35.5 21.5 35.5Z" fill="black"/>
      <path d="M23.3992 13H20V22.327L25.5968 28L28 25.564L23.3992 20.9005V13Z" fill="black"/>
    </svg>
  </div>
    </div>
      <p>
      Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor.
    </p>
  </div>
</div> 

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-m govuk-!-padding-top-7"> 
  Subheading
  </h2>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>

 <h2 class="govuk-heading-m govuk-!-padding-top-7"> 
  Subheading
  </h2>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>



 <h2 class="govuk-heading-m govuk-!-padding-top-7"> 
  Subheading
  </h2>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>

</div>
</div>

</div>

<div class="govuk-grid-row choice-header govuk-!-margin-top-9 govuk-!-margin-bottom-9 govuk-!-padding-top-9 govuk-!-padding-bottom-6"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="apprenticeships" class="govuk-heading-l choice-title">
        Apprenticeships
      </h2>
    <p class="choice-body">Apprenticeships are for those aged 16 or over and combine working with studying to gain skills and knowledge in a specific job. Apprenticeships take 1 to 5 years to complete depending on their level.  </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <a class="govuk-body choice-link govuk-padding-top-9"  href="#choices"> <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to choices </a>
    </div>
    
  </div>
</div>
  
    <div class="govuk-width-container">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     <h3 class="govuk-heading-m tile-title"> Eligibility </h3>
    </div>
    <div class="govuk-grid-column-one-third">
      <svg width="49" height="43" viewBox="0 0 49 43" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="49" height="43" fill="white"/>
        <path d="M40.4417 23.9583L43.125 26.6608L30.6092 39.2917L23.9583 32.5833L26.6417 29.8808L30.6092 33.8675L40.4417 23.9583ZM19.1667 32.5833L24.9167 38.3333H5.75V34.5C5.75 30.2642 12.6117 26.8333 21.0833 26.8333L24.7058 27.0442L19.1667 32.5833ZM21.0833 7.66666C23.1167 7.66666 25.0667 8.47439 26.5045 9.91217C27.9423 11.3499 28.75 13.3 28.75 15.3333C28.75 17.3666 27.9423 19.3167 26.5045 20.7545C25.0667 22.1923 23.1167 23 21.0833 23C19.05 23 17.1 22.1923 15.6622 20.7545C14.2244 19.3167 13.4167 17.3666 13.4167 15.3333C13.4167 13.3 14.2244 11.3499 15.6622 9.91217C17.1 8.47439 19.05 7.66666 21.0833 7.66666Z" fill="black"/>
      </svg>
      </div>
  </div>
    <p>
    Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor.
    </p>
  </div>

  <div class="govuk-grid-column-one-third">
      <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m tile-title"> Funding </h3>
        </div>
    <div class="govuk-grid-column-one-third">
     <svg width="49" height="43" viewBox="0 0 49 43" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="49" height="43" fill="white"/>
      <path d="M48 38H32V8H48V38ZM36.3636 23C36.3636 21.8299 36.7468 20.7078 37.4287 19.8804C38.1107 19.053 39.0356 18.5882 40 18.5882C40.9644 18.5882 41.8893 19.053 42.5713 19.8804C43.2532 20.7078 43.6364 21.8299 43.6364 23C43.6364 24.1701 43.2532 25.2922 42.5713 26.1196C41.8893 26.947 40.9644 27.4118 40 27.4118C39.0356 27.4118 38.1107 26.947 37.4287 26.1196C36.7468 25.2922 36.3636 24.1701 36.3636 23ZM45.0909 15.0588C44.3194 15.0588 43.5794 14.687 43.0339 14.0251C42.4883 13.3632 42.1818 12.4655 42.1818 11.5294H37.8182C37.8182 13.4882 36.5236 15.0588 34.9091 15.0588V30.9412C35.6806 30.9412 36.4206 31.313 36.9661 31.9749C37.5117 32.6368 37.8182 33.5345 37.8182 34.4706H42.1818C42.1818 32.5294 43.4909 30.9412 45.0909 30.9412V15.0588Z" fill="black"/>
      <path d="M27.7058 32.5V38.3333H5.75V34.5C5.75 30.2642 12.6117 26.8333 21.0833 26.8333C23.6696 26.9157 25.5 27 27.7058 28.0442V32.5ZM21.0833 7.66666C23.1167 7.66666 25.0667 8.47439 26.5045 9.91217C27.9423 11.3499 28.75 13.3 28.75 15.3333C28.75 17.3666 27.9423 19.3167 26.5045 20.7545C25.0667 22.1923 23.1167 23 21.0833 23C19.05 23 17.1 22.1923 15.6622 20.7545C14.2244 19.3167 13.4167 17.3666 13.4167 15.3333C13.4167 13.3 14.2244 11.3499 15.6622 9.91217C17.1 8.47439 19.05 7.66666 21.0833 7.66666Z" fill="black"/>
     </svg>
     </div>
    </div>
     <p>
     Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor.
    </p>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m tile-title"> Timings </h3>
    </div>
    <div class="govuk-grid-column-one-third">
     <svg width="49" height="43" viewBox="0 0 49 43" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="49" height="43" fill="white"/>
      <path d="M21.5 4C11.8505 4 4 11.8505 4 21.5C4 31.1495 11.8505 39 21.5 39C31.1495 39 39 31.1495 39 21.5C39 11.8505 31.1495 4 21.5 4ZM21.5 35.5C13.7807 35.5 7.5 29.2192 7.5 21.5C7.5 13.7808 13.7807 7.5 21.5 7.5C29.2192 7.5 35.5 13.7808 35.5 21.5C35.5 29.2192 29.2192 35.5 21.5 35.5Z" fill="black"/>
      <path d="M23.3992 13H20V22.327L25.5968 28L28 25.564L23.3992 20.9005V13Z" fill="black"/>
    </svg>
  </div>
    </div>
      <p>
      Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor.
    </p>
  </div>
</div> 


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-m govuk-!-padding-top-7"> 
  Subheading
  </h2>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>

 <h2 class="govuk-heading-m govuk-!-padding-top-7"> 
  Subheading
  </h2>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>



 <h2 class="govuk-heading-m govuk-!-padding-top-7"> 
  Subheading
  </h2>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>

</div>
</div>
</div>

<div class="govuk-grid-row choice-header govuk-!-margin-top-9 govuk-!-margin-bottom-9 govuk-!-padding-top-9 govuk-!-padding-bottom-6"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="supportedinternship" class="govuk-heading-l choice-title">
        Supported Internship
      </h2>
      <p class="choice-body">Supported internships allow young people aged 16 to 24 with an Education, Health and Care plan (EHC), who need extra support to move into employment.
 </p>
    </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <a class="govuk-body choice-link govuk-padding-top-9"  href="#choices"> <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to choices </a>
    </div>
  </div>
</div>
  
   <div class="govuk-width-container">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     <h3 class="govuk-heading-m tile-title"> Eligibility </h3>
    </div>
    <div class="govuk-grid-column-one-third">
      <svg width="49" height="43" viewBox="0 0 49 43" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="49" height="43" fill="white"/>
        <path d="M40.4417 23.9583L43.125 26.6608L30.6092 39.2917L23.9583 32.5833L26.6417 29.8808L30.6092 33.8675L40.4417 23.9583ZM19.1667 32.5833L24.9167 38.3333H5.75V34.5C5.75 30.2642 12.6117 26.8333 21.0833 26.8333L24.7058 27.0442L19.1667 32.5833ZM21.0833 7.66666C23.1167 7.66666 25.0667 8.47439 26.5045 9.91217C27.9423 11.3499 28.75 13.3 28.75 15.3333C28.75 17.3666 27.9423 19.3167 26.5045 20.7545C25.0667 22.1923 23.1167 23 21.0833 23C19.05 23 17.1 22.1923 15.6622 20.7545C14.2244 19.3167 13.4167 17.3666 13.4167 15.3333C13.4167 13.3 14.2244 11.3499 15.6622 9.91217C17.1 8.47439 19.05 7.66666 21.0833 7.66666Z" fill="black"/>
      </svg>
    </div>
  </div>
    <p>
    Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor.
    </p>
  </div>

  <div class="govuk-grid-column-one-third">
      <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m tile-title"> Funding </h3>
        </div>
    <div class="govuk-grid-column-one-third">
     <svg width="49" height="43" viewBox="0 0 49 43" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="49" height="43" fill="white"/>
      <path d="M48 38H32V8H48V38ZM36.3636 23C36.3636 21.8299 36.7468 20.7078 37.4287 19.8804C38.1107 19.053 39.0356 18.5882 40 18.5882C40.9644 18.5882 41.8893 19.053 42.5713 19.8804C43.2532 20.7078 43.6364 21.8299 43.6364 23C43.6364 24.1701 43.2532 25.2922 42.5713 26.1196C41.8893 26.947 40.9644 27.4118 40 27.4118C39.0356 27.4118 38.1107 26.947 37.4287 26.1196C36.7468 25.2922 36.3636 24.1701 36.3636 23ZM45.0909 15.0588C44.3194 15.0588 43.5794 14.687 43.0339 14.0251C42.4883 13.3632 42.1818 12.4655 42.1818 11.5294H37.8182C37.8182 13.4882 36.5236 15.0588 34.9091 15.0588V30.9412C35.6806 30.9412 36.4206 31.313 36.9661 31.9749C37.5117 32.6368 37.8182 33.5345 37.8182 34.4706H42.1818C42.1818 32.5294 43.4909 30.9412 45.0909 30.9412V15.0588Z" fill="black"/>
      <path d="M27.7058 32.5V38.3333H5.75V34.5C5.75 30.2642 12.6117 26.8333 21.0833 26.8333C23.6696 26.9157 25.5 27 27.7058 28.0442V32.5ZM21.0833 7.66666C23.1167 7.66666 25.0667 8.47439 26.5045 9.91217C27.9423 11.3499 28.75 13.3 28.75 15.3333C28.75 17.3666 27.9423 19.3167 26.5045 20.7545C25.0667 22.1923 23.1167 23 21.0833 23C19.05 23 17.1 22.1923 15.6622 20.7545C14.2244 19.3167 13.4167 17.3666 13.4167 15.3333C13.4167 13.3 14.2244 11.3499 15.6622 9.91217C17.1 8.47439 19.05 7.66666 21.0833 7.66666Z" fill="black"/>
     </svg>
    </div>
    </div>
     <p>
     Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor.
    </p>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m tile-title"> Timings </h3>
    </div>
    <div class="govuk-grid-column-one-third">
     <svg width="49" height="43" viewBox="0 0 49 43" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="49" height="43" fill="white"/>
      <path d="M21.5 4C11.8505 4 4 11.8505 4 21.5C4 31.1495 11.8505 39 21.5 39C31.1495 39 39 31.1495 39 21.5C39 11.8505 31.1495 4 21.5 4ZM21.5 35.5C13.7807 35.5 7.5 29.2192 7.5 21.5C7.5 13.7808 13.7807 7.5 21.5 7.5C29.2192 7.5 35.5 13.7808 35.5 21.5C35.5 29.2192 29.2192 35.5 21.5 35.5Z" fill="black"/>
      <path d="M23.3992 13H20V22.327L25.5968 28L28 25.564L23.3992 20.9005V13Z" fill="black"/>
    </svg>
  </div>
    </div>
      <p>
      Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor.
    </p>
  </div>
</div> 


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-m govuk-!-padding-top-7"> 
  Subheading
  </h2>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>

 <h2 class="govuk-heading-m govuk-!-padding-top-7"> 
  Subheading
  </h2>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>



 <h2 class="govuk-heading-m govuk-!-padding-top-7"> 
  Subheading
  </h2>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>

</div>
</div>
</div>

<div class="govuk-grid-row choice-header govuk-!-margin-top-9 govuk-!-margin-bottom-9 govuk-!-padding-top-9 govuk-!-padding-bottom-6"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="tlevels" class="govuk-heading-l choice-title">
        T-Levels
      </h2>
    <p class="choice-body">T Levels are a new qualification for students aged 16 to 19 who’ve finished GCSEs. They are a 2-year qualification and the equivalent to 3 A levels. </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <a class="govuk-body choice-link govuk-padding-top-9"  href="#choices"> <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to choices </a>
    </div>
   
  </div>
</div>
  
   <div class="govuk-width-container">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     <h3 class="govuk-heading-m tile-title"> Eligibility </h3>
    </div>
    <div class="govuk-grid-column-one-third">
      <svg width="49" height="43" viewBox="0 0 49 43" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="49" height="43" fill="white"/>
        <path d="M40.4417 23.9583L43.125 26.6608L30.6092 39.2917L23.9583 32.5833L26.6417 29.8808L30.6092 33.8675L40.4417 23.9583ZM19.1667 32.5833L24.9167 38.3333H5.75V34.5C5.75 30.2642 12.6117 26.8333 21.0833 26.8333L24.7058 27.0442L19.1667 32.5833ZM21.0833 7.66666C23.1167 7.66666 25.0667 8.47439 26.5045 9.91217C27.9423 11.3499 28.75 13.3 28.75 15.3333C28.75 17.3666 27.9423 19.3167 26.5045 20.7545C25.0667 22.1923 23.1167 23 21.0833 23C19.05 23 17.1 22.1923 15.6622 20.7545C14.2244 19.3167 13.4167 17.3666 13.4167 15.3333C13.4167 13.3 14.2244 11.3499 15.6622 9.91217C17.1 8.47439 19.05 7.66666 21.0833 7.66666Z" fill="black"/>
      </svg>
    </div>
  </div>
    <p>
    Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor.
    </p>
  </div>

  <div class="govuk-grid-column-one-third">
      <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m tile-title"> Funding </h3>
        </div>
    <div class="govuk-grid-column-one-third">
     <svg width="49" height="43" viewBox="0 0 49 43" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="49" height="43" fill="white"/>
      <path d="M48 38H32V8H48V38ZM36.3636 23C36.3636 21.8299 36.7468 20.7078 37.4287 19.8804C38.1107 19.053 39.0356 18.5882 40 18.5882C40.9644 18.5882 41.8893 19.053 42.5713 19.8804C43.2532 20.7078 43.6364 21.8299 43.6364 23C43.6364 24.1701 43.2532 25.2922 42.5713 26.1196C41.8893 26.947 40.9644 27.4118 40 27.4118C39.0356 27.4118 38.1107 26.947 37.4287 26.1196C36.7468 25.2922 36.3636 24.1701 36.3636 23ZM45.0909 15.0588C44.3194 15.0588 43.5794 14.687 43.0339 14.0251C42.4883 13.3632 42.1818 12.4655 42.1818 11.5294H37.8182C37.8182 13.4882 36.5236 15.0588 34.9091 15.0588V30.9412C35.6806 30.9412 36.4206 31.313 36.9661 31.9749C37.5117 32.6368 37.8182 33.5345 37.8182 34.4706H42.1818C42.1818 32.5294 43.4909 30.9412 45.0909 30.9412V15.0588Z" fill="black"/>
      <path d="M27.7058 32.5V38.3333H5.75V34.5C5.75 30.2642 12.6117 26.8333 21.0833 26.8333C23.6696 26.9157 25.5 27 27.7058 28.0442V32.5ZM21.0833 7.66666C23.1167 7.66666 25.0667 8.47439 26.5045 9.91217C27.9423 11.3499 28.75 13.3 28.75 15.3333C28.75 17.3666 27.9423 19.3167 26.5045 20.7545C25.0667 22.1923 23.1167 23 21.0833 23C19.05 23 17.1 22.1923 15.6622 20.7545C14.2244 19.3167 13.4167 17.3666 13.4167 15.3333C13.4167 13.3 14.2244 11.3499 15.6622 9.91217C17.1 8.47439 19.05 7.66666 21.0833 7.66666Z" fill="black"/>
     </svg>
    </div>
    </div>
     <p>
     Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor.
    </p>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m tile-title"> Timings </h3>
    </div>
    <div class="govuk-grid-column-one-third">
     <svg width="49" height="43" viewBox="0 0 49 43" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="49" height="43" fill="white"/>
      <path d="M21.5 4C11.8505 4 4 11.8505 4 21.5C4 31.1495 11.8505 39 21.5 39C31.1495 39 39 31.1495 39 21.5C39 11.8505 31.1495 4 21.5 4ZM21.5 35.5C13.7807 35.5 7.5 29.2192 7.5 21.5C7.5 13.7808 13.7807 7.5 21.5 7.5C29.2192 7.5 35.5 13.7808 35.5 21.5C35.5 29.2192 29.2192 35.5 21.5 35.5Z" fill="black"/>
      <path d="M23.3992 13H20V22.327L25.5968 28L28 25.564L23.3992 20.9005V13Z" fill="black"/>
    </svg>
  </div>
    </div>
      <p>
      Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor.
    </p>
  </div>
</div> 

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-m govuk-!-padding-top-7"> 
  Subheading
  </h2>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>

 <h2 class="govuk-heading-m govuk-!-padding-top-7"> 
  Subheading
  </h2>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>



 <h2 class="govuk-heading-m govuk-!-padding-top-7"> 
  Subheading
  </h2>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>

</div>
</div>

</div>

<div class="govuk-grid-row choice-header govuk-!-margin-top-9 govuk-!-margin-bottom-9 govuk-!-padding-top-9 govuk-!-padding-bottom-6"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="traineeship" class="govuk-heading-l choice-title">
        Traineeship
      </h2>
       <p class="choice-body">A traineeship is a skills development programme that includes a work placement that can last from 6 weeks up to 1 year.
 </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <a class="govuk-body choice-link govuk-padding-top-9"  href="#choices"> <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to choices </a>
    </div>   
  </div>
</div>
  
   <div class="govuk-width-container">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     <h3 class="govuk-heading-m tile-title"> Eligibility </h3>
    </div>
    <div class="govuk-grid-column-one-third">
      <svg width="49" height="43" viewBox="0 0 49 43" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="49" height="43" fill="white"/>
        <path d="M40.4417 23.9583L43.125 26.6608L30.6092 39.2917L23.9583 32.5833L26.6417 29.8808L30.6092 33.8675L40.4417 23.9583ZM19.1667 32.5833L24.9167 38.3333H5.75V34.5C5.75 30.2642 12.6117 26.8333 21.0833 26.8333L24.7058 27.0442L19.1667 32.5833ZM21.0833 7.66666C23.1167 7.66666 25.0667 8.47439 26.5045 9.91217C27.9423 11.3499 28.75 13.3 28.75 15.3333C28.75 17.3666 27.9423 19.3167 26.5045 20.7545C25.0667 22.1923 23.1167 23 21.0833 23C19.05 23 17.1 22.1923 15.6622 20.7545C14.2244 19.3167 13.4167 17.3666 13.4167 15.3333C13.4167 13.3 14.2244 11.3499 15.6622 9.91217C17.1 8.47439 19.05 7.66666 21.0833 7.66666Z" fill="black"/>
      </svg>
    </div>
  </div>
    <p>
    Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor.
    </p>
  </div>

  <div class="govuk-grid-column-one-third">
      <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m tile-title"> Funding </h3>
        </div>
    <div class="govuk-grid-column-one-third">
     <svg width="49" height="43" viewBox="0 0 49 43" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="49" height="43" fill="white"/>
      <path d="M48 38H32V8H48V38ZM36.3636 23C36.3636 21.8299 36.7468 20.7078 37.4287 19.8804C38.1107 19.053 39.0356 18.5882 40 18.5882C40.9644 18.5882 41.8893 19.053 42.5713 19.8804C43.2532 20.7078 43.6364 21.8299 43.6364 23C43.6364 24.1701 43.2532 25.2922 42.5713 26.1196C41.8893 26.947 40.9644 27.4118 40 27.4118C39.0356 27.4118 38.1107 26.947 37.4287 26.1196C36.7468 25.2922 36.3636 24.1701 36.3636 23ZM45.0909 15.0588C44.3194 15.0588 43.5794 14.687 43.0339 14.0251C42.4883 13.3632 42.1818 12.4655 42.1818 11.5294H37.8182C37.8182 13.4882 36.5236 15.0588 34.9091 15.0588V30.9412C35.6806 30.9412 36.4206 31.313 36.9661 31.9749C37.5117 32.6368 37.8182 33.5345 37.8182 34.4706H42.1818C42.1818 32.5294 43.4909 30.9412 45.0909 30.9412V15.0588Z" fill="black"/>
      <path d="M27.7058 32.5V38.3333H5.75V34.5C5.75 30.2642 12.6117 26.8333 21.0833 26.8333C23.6696 26.9157 25.5 27 27.7058 28.0442V32.5ZM21.0833 7.66666C23.1167 7.66666 25.0667 8.47439 26.5045 9.91217C27.9423 11.3499 28.75 13.3 28.75 15.3333C28.75 17.3666 27.9423 19.3167 26.5045 20.7545C25.0667 22.1923 23.1167 23 21.0833 23C19.05 23 17.1 22.1923 15.6622 20.7545C14.2244 19.3167 13.4167 17.3666 13.4167 15.3333C13.4167 13.3 14.2244 11.3499 15.6622 9.91217C17.1 8.47439 19.05 7.66666 21.0833 7.66666Z" fill="black"/>
     </svg>
    </div>
    </div>
     <p>
     Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor.
    </p>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m tile-title"> Timings </h3>
    </div>
    <div class="govuk-grid-column-one-third">
     <svg width="49" height="43" viewBox="0 0 49 43" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="49" height="43" fill="white"/>
      <path d="M21.5 4C11.8505 4 4 11.8505 4 21.5C4 31.1495 11.8505 39 21.5 39C31.1495 39 39 31.1495 39 21.5C39 11.8505 31.1495 4 21.5 4ZM21.5 35.5C13.7807 35.5 7.5 29.2192 7.5 21.5C7.5 13.7808 13.7807 7.5 21.5 7.5C29.2192 7.5 35.5 13.7808 35.5 21.5C35.5 29.2192 29.2192 35.5 21.5 35.5Z" fill="black"/>
      <path d="M23.3992 13H20V22.327L25.5968 28L28 25.564L23.3992 20.9005V13Z" fill="black"/>
    </svg>
  </div>
    </div>
      <p>
      Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor.
    </p>
  </div>
</div> 


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-m govuk-!-padding-top-7"> 
  Subheading
  </h2>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>

 <h2 class="govuk-heading-m govuk-!-padding-top-7"> 
  Subheading
  </h2>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>



 <h2 class="govuk-heading-m govuk-!-padding-top-7"> 
  Subheading
  </h2>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>

</div>
</div>


</div>

<div class="govuk-grid-row choice-header govuk-!-margin-top-9 govuk-!-margin-bottom-9 govuk-!-padding-top-9 govuk-!-padding-bottom-6"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="vtq" class="govuk-heading-l choice-title">
        Vocational Technical Qualifications (VTQs)
      </h2>
    <p class="choice-body">Vocational qualifications are work-related qualifications available in a wide range of career areas. </p>

    </div>
    <div class="govuk-grid-column-one-third">
      <a class="govuk-body choice-link govuk-padding-top-9"  href="#choices"> <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to choices </a>
    </div>
  </div>
</div>
  
  <div class="govuk-width-container">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     <h3 class="govuk-heading-m tile-title"> Eligibility </h3>
    </div>
    <div class="govuk-grid-column-one-third">
      <svg width="49" height="43" viewBox="0 0 49 43" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="49" height="43" fill="white"/>
        <path d="M40.4417 23.9583L43.125 26.6608L30.6092 39.2917L23.9583 32.5833L26.6417 29.8808L30.6092 33.8675L40.4417 23.9583ZM19.1667 32.5833L24.9167 38.3333H5.75V34.5C5.75 30.2642 12.6117 26.8333 21.0833 26.8333L24.7058 27.0442L19.1667 32.5833ZM21.0833 7.66666C23.1167 7.66666 25.0667 8.47439 26.5045 9.91217C27.9423 11.3499 28.75 13.3 28.75 15.3333C28.75 17.3666 27.9423 19.3167 26.5045 20.7545C25.0667 22.1923 23.1167 23 21.0833 23C19.05 23 17.1 22.1923 15.6622 20.7545C14.2244 19.3167 13.4167 17.3666 13.4167 15.3333C13.4167 13.3 14.2244 11.3499 15.6622 9.91217C17.1 8.47439 19.05 7.66666 21.0833 7.66666Z" fill="black"/>
      </svg>
    </div>
  </div>
    <p>
    Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor.
    </p>
  </div>

  <div class="govuk-grid-column-one-third">
      <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m tile-title"> Funding </h3>
        </div>
    <div class="govuk-grid-column-one-third">
     <svg width="49" height="43" viewBox="0 0 49 43" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="49" height="43" fill="white"/>
      <path d="M48 38H32V8H48V38ZM36.3636 23C36.3636 21.8299 36.7468 20.7078 37.4287 19.8804C38.1107 19.053 39.0356 18.5882 40 18.5882C40.9644 18.5882 41.8893 19.053 42.5713 19.8804C43.2532 20.7078 43.6364 21.8299 43.6364 23C43.6364 24.1701 43.2532 25.2922 42.5713 26.1196C41.8893 26.947 40.9644 27.4118 40 27.4118C39.0356 27.4118 38.1107 26.947 37.4287 26.1196C36.7468 25.2922 36.3636 24.1701 36.3636 23ZM45.0909 15.0588C44.3194 15.0588 43.5794 14.687 43.0339 14.0251C42.4883 13.3632 42.1818 12.4655 42.1818 11.5294H37.8182C37.8182 13.4882 36.5236 15.0588 34.9091 15.0588V30.9412C35.6806 30.9412 36.4206 31.313 36.9661 31.9749C37.5117 32.6368 37.8182 33.5345 37.8182 34.4706H42.1818C42.1818 32.5294 43.4909 30.9412 45.0909 30.9412V15.0588Z" fill="black"/>
      <path d="M27.7058 32.5V38.3333H5.75V34.5C5.75 30.2642 12.6117 26.8333 21.0833 26.8333C23.6696 26.9157 25.5 27 27.7058 28.0442V32.5ZM21.0833 7.66666C23.1167 7.66666 25.0667 8.47439 26.5045 9.91217C27.9423 11.3499 28.75 13.3 28.75 15.3333C28.75 17.3666 27.9423 19.3167 26.5045 20.7545C25.0667 22.1923 23.1167 23 21.0833 23C19.05 23 17.1 22.1923 15.6622 20.7545C14.2244 19.3167 13.4167 17.3666 13.4167 15.3333C13.4167 13.3 14.2244 11.3499 15.6622 9.91217C17.1 8.47439 19.05 7.66666 21.0833 7.66666Z" fill="black"/>
     </svg>
    </div>
    </div>
     <p>
     Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor.
    </p>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m tile-title"> Timings </h3>
    </div>
    <div class="govuk-grid-column-one-third">
     <svg width="49" height="43" viewBox="0 0 49 43" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="49" height="43" fill="white"/>
      <path d="M21.5 4C11.8505 4 4 11.8505 4 21.5C4 31.1495 11.8505 39 21.5 39C31.1495 39 39 31.1495 39 21.5C39 11.8505 31.1495 4 21.5 4ZM21.5 35.5C13.7807 35.5 7.5 29.2192 7.5 21.5C7.5 13.7808 13.7807 7.5 21.5 7.5C29.2192 7.5 35.5 13.7808 35.5 21.5C35.5 29.2192 29.2192 35.5 21.5 35.5Z" fill="black"/>
      <path d="M23.3992 13H20V22.327L25.5968 28L28 25.564L23.3992 20.9005V13Z" fill="black"/>
    </svg>
  </div>
    </div>
      <p>
      Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor.
    </p>
  </div>
</div> 


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-m govuk-!-padding-top-7"> 
  Subheading
  </h2>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>

 <h2 class="govuk-heading-m govuk-!-padding-top-7"> 
  Subheading
  </h2>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>



 <h2 class="govuk-heading-m govuk-!-padding-top-7"> 
  Subheading
  </h2>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
  <p> Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>

</div>
</div>
</div>



{% endblock %}








{% block scripts %}

<script>

function ShowWithoutImages() {
  var cardWithImage = document.getElementById("cardGroupWithImages");
  var linkTitle = document.getElementById("showWithoutImages");
  var cardNoImage = document.getElementById("cardGroupNoImages");

  if (cardWithImage.style.display === "none") {
    cardWithImage.style.display = "block";
    cardNoImage.style.display = "none";
    linkTitle.innerHTML = 'See these without images';
  } else {
    cardWithImage.style.display = "none";
    cardNoImage.style.display = "block";
    linkTitle.innerHTML = 'See these with images';
  }
  
} 


</script>
{% endblock %}


<span class="govuk-visually-hidden"></span>